# Make a copy and rename to config.env

# Discord Tokens
DISCORD_TOKEN_PROD=''
DISCORD_TOKEN_DEV=''

# Environment - PROD or DEV
DISCORD_BOT_ENV='PROD'

# Bot Prefixes
DISCORD_BOT_PREFIX_PROD=''
DISCORD_BOT_PREFIX_DEV=''

# MongoDB Credentials
MONGODB_URI_PROD=''
MONGODB_URI_DEV=''
MONGODB_DB_PROD=''
MONGODB_DB_DEV=''
