discord-pretty-help==1.3.4
discord.py @ git+https://github.com/Rapptz/discord.py@d4cc8d3006bd50392e4422c12046bdfdd4a5a0d2#egg=discord.py[voice]
emojis==0.6.0
motor[srv]==3.0.0
psutil==5.9.1
python-dotenv==0.20.0
